# Porta que o servidor vai rodar
PORT=3000
# Origens permitidas para o CORS, tem q ser um array JSON com aspas duplas, exemplo: ["http://localhost:5173", "http://localhost:5174"]
CORS_ORIGEM=["http://localhost:5173"]

# Configurações do Banco de Dados
# Use sslmode=verify-full para manter o comportamento atual sem o warning.
# Se precisar de compatibilidade com libpq agora, use uselibpqcompat=true&sslmode=require.
DATABASE_URL='' # Exemplo: postgresql://usuario:senha@host:5432/banco?sslmode=verify-full

# Configuração da API de Email
RESEND_API_KEY='' # Exemplo: re_vkmskvmsdkmvsdvdvklndv

# Segredo JWT
SEGREDO_JWT='' # exemplo: cookiesmarinados029

# Segredo do Sistema para conseguir acessar rotas administrativas do sistema
SEGREDO_SISTEMA=''