.containerEscolas{
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    margin: 1.4rem 0.5rem 1.7rem 0.5rem;
    align-self: center;
}

.escola{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconEscola{
    color: #7a7a7a;
    margin-right: 0.5rem;
}

.textoEscola{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
}

.textoEscola p{
    font-family: 'Poppins', sans-serif;
    color: #7a7a7a;
    font-size: .7rem;
}

.textoEscola span{
    font-size: .7rem;
    color: #7a7a7a;
}

.BtnVerRotas{
    width: 90%;
    height: 1.5rem;
    background-color: #0D47A1;
    color: #F8F5F5;
    font-family: 'Poppins', sans-serif;
    font-size: .6rem;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 10px;
    border: none;

    position: relative;
    overflow: hidden;
    align-self: center;
}

.BtnVerRotas::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #083075b7;
    transform: translate(-50%, -50%) scale(0);  
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}

.BtnVerRotas:active::after{
    transform: translate(-50%, -50%) scale(50);
    opacity: 0;
    transition: .7s;
}