.containerMensalidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    margin: 1.2rem 0 0rem 0;
    align-self: center;

    width: 100%;
    height: 8vh;
}

.mensalidadeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    width: 28%;
    height: 100%;
    border-radius: 10px;

    font-family: 'Poppins', sans-serif;
}

.tituloMensalidade {
    font-family: 'Poppins', sans-serif;
    font-size: .55rem;
    font-weight: 700;
}

.quantidadeMensalidade {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

.proximaMensa{
    width: 90%;
    align-self: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.proximaMensa p{
    text-align: center;
    color: #0D47A1;
}

.proximaMensa span{
    color:#EE7B29;
}