.footer {
    width: 100%;
    height: var(--footer-height);
    background-color: #F8F5F5;
    position: fixed;
    bottom: 0;
    box-shadow: 10px 10px 10px 12px rgba(0, 0, 0, 0.5);
}

.footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-icon{
    width: 2em;
    height: 2em;
    display: block;
}

.footer-link{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 900;
    color: #7A7A7A;
    
    margin-top: 0.8rem;

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.footer-link::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 15%;
    width: 70%;
    height: 2px;
    border-radius: 2px;
    background-color: #0D47A1;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.footer-link:hover::before,
.footer-link.active::before{
    transform: scaleX(1);
}

.footer-link:hover,
.footer-link.active{
    transform: scale(1.1);
    color: #0D47A1;
}

.footer-link:focus-visible{
    transform: scale(1.1);
    color: #0D47A1;
    outline: 0;
}
